@charset "UTF-8";
page {
  width: 100%;
  height: 100%;
  background: #3c3e4b;
}

page .padding-30 {
  padding: 30rpx;
}

page .margin-t-30 {
  margin-top: 30rpx;
}

page .margin-b-40 {
  margin-top: 40rpx;
}

page .margin-b-30 {
  margin-top: 30rpx;
}

page .padding-t-50 {
  padding-top: 50rpx;
}

page .margin-t-15 {
  margin-top: 15rpx;
}

page .van-notice-bar {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
  background: rgba(255, 255, 255, 0.26) !important;
  color: #fff !important;
}

page .store-info {
  position: relative;
  width: 685rpx;
  height: 1054rpx;
}

page .store-info .detail {
  position: absolute;
  width: 568rpx;
  padding-bottom: 40rpx;
  text-align: center;
  background: rgba(255, 255, 255, 0.71);
  bottom: 98rpx;
  left: 50%;
  margin-left: -284rpx;
}

page .store-info .detail .icon {
  width: 104rpx;
  height: 107rpx;
  margin: 0 auto;
}

page .store-info .detail .name {
  margin-top: 23rpx;
  font-size: 55rpx;
  font-weight: bold;
}

page .store-info .detail .desc {
  font-size: 26rpx;
  margin-top: 20rpx;
  font-weight: bold;
  color: #373737;
}

page .act-container {
  top: 0;
  padding: 30rpx 33rpx;
  padding-top: 110rpx;
}

page .act-container > image {
  width: 685rpx;
  border-radius: 20rpx;
}

page .act-container .cu-avatar-group {
  padding: 0;
  color: #fff;
}

page .act-container .cu-avatar-group .cu-avatar {
  width: 53rpx;
  height: 53rpx;
  margin-left: 0rpx;
  margin-right: 10rpx;
}

.slide-container {
  width: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  margin-left: 30rpx;
  margin-top: 43rpx;
  margin-bottom: 44rpx;
  border-radius: 10rpx;
}

.slide-container .scroll {
  padding-right: 30rpx;
  border-radius: 10rpx;
}

.slide-container .scroll .have-border {
  border-bottom: 1rpx solid #ededed;
}

.slide-container .scroll .scroll-item {
  position: relative;
  width: 482rpx !important;
  border-radius: 20rpx;
  overflow: hidden;
}

.slide-container .scroll .scroll-item .clock {
  position: absolute;
  top: 0;
  left: 0;
  width: 64rpx;
  height: 54rpx;
  background: #de8022;
  border-radius: 20rpx 0 20rpx 0;
}

.slide-container .scroll .scroll-item .clock image {
  width: 24rpx;
  height: 26rpx;
}

.slide-container .scroll .scroll-item .img {
  border-radius: 20rpx;
  width: 462rpx;
  height: 462rpx;
}

.slide-container .scroll .scroll-item .content {
  position: absolute;
  bottom: 0;
  height: 65rpx;
  background: #4f5660;
  border-radius: 0 0 20rpx 20rpx;
  width: 462rpx;
}

.slide-container .scroll .scroll-item .content .item-left {
  font-size: 24rpx;
  font-family: PingFang SC;
  font-weight: 500;
  color: white;
  padding: 0 10rpx;
}

.slide-container .scroll .scroll-item .content .item-right {
  font-size: 24rpx;
  font-family: PingFang SC;
  font-weight: 500;
  color: white;
  padding: 0 10rpx;
  vertical-align: bottom;
  /*底对齐*/
}

.slide-container .scroll .scroll-item .desc {
  font-size: 26rpx;
  font-weight: 300;
  margin-top: 30rpx;
  color: #999999;
  line-height: 40rpx;
}

.slide-container .scroll .scroll-item .desc .ico {
  width: 24rpx;
  margin-right: 13rpx;
}

.slide-container .scroll .scroll-item .cover {
  border-radius: 10rpx;
  width: 210rpx;
  height: 160rpx;
}

.slide-container .scroll .scroll-item .image {
  border-radius: 10rpx;
  width: 420rpx;
  height: 220rpx;
  margin-right: 20rpx;
}

.slide-container .scroll .scroll-item .image:last-child {
  margin-right: 0;
}

.slide-container .scroll .scroll-item .pause-btn {
  width: 80rpx;
  position: absolute;
  left: 50%;
  margin-left: -60rpx;
  top: 70rpx;
}

.big-title {
  color: #fff;
  margin-top: 50rpx;
  margin-bottom: 30rpx;
  font-size: 36rpx;
  font-family: PingFang SC;
  font-weight: 500;
}

.coupon {
  display: block;
  /*按照单元格的样式显示元素*/
  vertical-align: bottom;
  /*底对齐*/
  margin: 0 auto;
}

.coupon .price {
  color: #de8022;
  font-size: 48rpx;
  font-weight: bold;
}

.coupon .price .num {
  font-size: 200rpx;
}

.coupon .desc {
  color: white;
  font-size: 24rpx;
  font-weight: 500;
  margin: 20rpx 0;
}

.coupon .btn {
  font-size: 30rpx;
  font-weight: 500;
  color: white;
  margin: 30rpx 0;
}

.coupon .arrow {
  display: block;
  margin: 0 auto;
  width: 23rpx;
  height: 20rpx;
}

.coupon .tip {
  position: relative;
  width: 539rpx;
  height: 74rpx;
  line-height: 74rpx;
  font-size: 36rpx;
  margin: 0 auto;
  color: #fff;
}

.coupon .tip .txt {
  position: relative;
  z-index: 1;
}

.coupon .tip image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.notice {
  padding: 42rpx 30rpx;
  overflow-y: scroll;
  height: 279rpx;
  background: white;
  border-radius: 0px 20rpx 0px 20rpx;
  margin: 40rpx 0;
}

.notice .item {
  margin-bottom: 30rpx;
  font-size: 28rpx;
  font-family: PingFang SC;
  font-weight: 500;
  color: #212121;
}

.notice .item:last-child {
  margin-bottom: 0;
}

.relation {
  padding: 0 60rpx 60rpx 60rpx;
}

.relation .title {
  font-size: 36rpx;
  font-family: PingFang SC;
  font-weight: 400;
  color: white;
  margin-bottom: 40rpx;
  text-align: center;
}

.relation .phone,
.relation .address {
  font-size: 30rpx;
  font-weight: 500;
  color: white;
}

.relation .phone {
  margin-bottom: 40rpx;
}

.warning {
  display: block;
  margin: auto;
  width: 628rpx;
  background: #de8022;
  border-radius: 20rpx;
  color: #000;
  margin-bottom: 30rpx;
  padding: 20rpx;
}

.warning image {
  width: 40rpx;
  height: 36rpx;
}

.activity {
  display: block;
  margin: auto;
  background: #fff;
  width: 628rpx;
  padding: 40rpx 0;
  background: #e3e3e3;
  border: 30rpx solid #fff;
  box-shadow: 0px 7rpx 6rpx 0px rgba(149, 136, 185, 0.19);
}

.activity .van-count-down {
  width: 100%;
  font-size: 48rpx !important;
  margin-top: 20rpx;
  font-weight: bold;
  color: #de8022 !important;
}

.activity .title {
  font-size: 36rpx;
  font-family: PingFang SC;
  font-weight: 500;
  color: #212121;
}

.activity .count-down {
  margin-top: 30rpx;
  background: linear-gradient(0deg, #f9a149, #df8124);
  border-radius: 5px;
}

.discounts {
  display: block;
  margin: 0 auto;
  background: #fff;
  width: 688rpx;
  border-radius: 20rpx;
  margin-bottom: 150rpx;
}

.discounts .title {
  font-weight: bold;
}

.discounts .banner {
  margin-top: 30rpx;
  width: 100%;
  height: 253rpx;
}

.discounts .vip {
  position: relative;
  display: block;
  margin: 0 auto;
  position: relative;
  width: 514rpx;
  height: 192rpx;
  padding: 20rpx 40rpx;
  line-height: 1;
}

.discounts .vip .main {
  position: relative;
  margin-top: 30rpx;
  z-index: 2;
  align-items: flex-end;
  color: #fff;
  font-size: 49rpx;
  font-weight: bold;
}

.discounts .vip .main text {
  line-height: 106rpx;
  font-size: 141rpx;
  font-family: PingFang SC;
  margin-left: 27rpx;
  font-weight: bold;
  margin-right: 20rpx;
}

.discounts .vip .main .impose {
  font-size: 24rpx;
  font-weight: bold;
  padding: 5rpx 17rpx;
  background: #313131;
  border-radius: 4rpx;
  color: #fff;
}

.discounts .vip image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.discounts .vip .tit {
  position: relative;
  z-index: 2;
  color: #fff;
}

.discounts .bottom {
  color: #fff;
  background: #4f5660;
  border-radius: 0 0 20rpx 20rpx;
}

.avatar-list {
  display: flex;
  flex-wrap: wrap;
  z-index: 10;
  padding: 0 30rpx;
}

.avatar-list .item {
  width: 53rpx;
  height: 53rpx;
  border-radius: 50%;
  margin-right: 5rpx;
}

.avatar-list .end {
  color: #fff;
  font-size: 36rpx;
}

.avatar-list .invite {
  width: 100%;
  vertical-align: bottom;
  color: #fff;
}

.buy-wrap {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 90rpx;
}

.buy-wrap .item {
  flex: 1;
  height: 100%;
  line-height: 90rpx;
  font-size: 36rpx;
  font-family: PingFang SC;
  font-weight: 500;
  text-align: center;
  color: white;
}

.buy-wrap .item:first-child {
  background: #4f5660;
}

.buy-wrap .item:last-child {
  background: #de8022;
}

.iosJJ {
  margin: 0 10% 75%;
  background: white;
  border-radius: 15rpx;
  overflow: hidden;
}

.iosJJ .child {
  display: flex;
  align-items: center;
  padding: 20rpx 20rpx 0;
  box-sizing: border-box;
  font-size: 30rpx;
}

.iosJJ .child input {
  display: flex;
  align-items: center;
  border-radius: 30rpx;
  font-size: 30rpx;
  padding: 0 20rpx;
  height: 60rpx;
  box-sizing: border-box;
  flex: 1;
  margin-left: 10rpx;
  border: 1px solid #f0f0f0;
}

.iosJJ .btn {
  display: flex;
  align-items: center;
  padding: 20rpx 20rpx;
  box-sizing: border-box;
}

.iosJJ .btn .flex {
  flex: 1;
}

.iosJJ .btn .flex .van-button {
  width: 100%;
}

.iosJJ .btn .okFN .van-button {
  background: #ff6262;
  color: white;
  border: none;
}

.van-popup {
  background: none !important;
}

.imgCode {
  width: 90%;
  margin: 10% auto;
}
